extends layout
block content
	section.hbox
		aside.b-l.aside-xl.bg-light
			section.wrapper
				section.panel
					.panel-body
						.clearfix.text-center.m-t
							.inline
								.easypiechart(data-percent=data.portfolio.balance*100/data.portfolio.maxBalance, data-line-width='5', data-loop='false', data-bar-color='#92cf5c', data-track-color='#f5f5f5', data-scale-color='false', data-size='150')
									.thumb-lg
										img.img-circle(src=user.image)
								.h4.m-t.m-b-xs= user.name
					footer.panel-footer.bg-dark.lter.text-center
						.row.pull-out
							.col-s-4.bg-success
								.padder-v
									span.m-b-xs.h3.block $
										= commafy(data.portfolio.balance.toFixed(2))
									small.text-muted Balance
							.col-s-4
								.padder-v
									span.m-b-xs.h3.block= data.results.length
									small.text-muted= (data.results.length > 1 ? 'Hashtags' : 'Hashtag')
		aside.bg-white-only
			header.bg-light
				ul.nav.nav-tabs
					li.active
						a(href='#tab1', data-toggle='tab') Portfolio
					li
						a(href='#tab2', data-toggle='tab') History
			.tab-content
				#tab1.tab-pane.active
					section.vbox
						.wrapper
							section.panel
								table.table.table-striped.m-b-none.text-sm
									thead
										tr
											th Hashtag
											th Shares
											th Current Price
									tbody
										each asset, i in data.results
											tr
												td
													a(href='/stock?q=' + asset.name, style="color: #5dcff3;")= asset.name
												td= asset.shares
												td= '$' + commafy(data.prices[i].price.toFixed(2))
				#tab2.tab-pane
					section.vbox
						.wrapper
							section.panel
								table.table.table-striped.m-b-none.text-sm
									thead
										tr
											th Hashtag
											th Transaction
											th Shares
											th Price
											th Time
									tbody
										for asset in data.portfolio.transactions
											tr
												td
													a(href='/stock?q=' + asset.name, style="color: #5dcff3;")= asset.name
												td= asset.type
												td= asset.shares
												td= '$' + commafy(asset.price.toFixed(2))
												td= new Date.create(asset.created).format()