extends layout

block content
	header
		.row.b-b.m-l-none.m-r-none
				.col-sm-4
					h3.m-t.m-b-none #
						= search.q
					p
		.wrapper
			section.panel
				header.panel-heading.font-bold Latest Stats
				.panel-body
					.row.text-center
						.col-xs-3.b-r
							p.h3.font-bold.m-t $
								= commafy(search.price.toFixed(2))
							p.text-muted Price
						.col-xs-3
							p.h3.font-bold.m-t= search.change.toFixed(2) + '%'
							p.text-muted Percent Change
						.col-xs-3.b-r
							p.h3.font-bold.m-t= search.total
							p.text-muted Your Shares
						.col-xs-3.b-r
							p.h3.font-bold.m-t= search.totalLifetime
							p.text-muted Total Shares
		.wrapper
			section.hbox
				aside.bg-white-only
					header.bg-light
						ul.nav.nav-tabs
							li.active
								a(href='#tab1', data-toggle='tab') History
							li
								a(href='#tab2', data-toggle='tab') Buy/Sell
					.tab-content
						#tab1.tab-pane.active							
							section.vbox
								.wrapper
									section.panel
										header.panel-heading.font-bold Monthly Hashtag Usage
										.panel-body
											#flot-color(style='height: 250px;')
						#tab2.tab-pane
							section.vbox
								.panel
									header.panel-heading.font-bold What to do?
									.panel-body
										.form-group
											label.col-sm-2.control-label Transaction
											.col-sm-10
												.btn-group.m-r
													button.btn.btn-sm.btn-white.dropdown-toggle(data-toggle='dropdown')
														span.dropdown-label Buy
														span.caret(style="margin-left: 4px;")
													ul#selectBox.dropdown-menu.dropdown-select
														li.active(data-method="buy")
															a(href='#')
																input(type='radio', name='d-s-r', checked='')
																| Buy
														li(data-method="sell")
															a(href='#')
																input(type='radio', name='d-s-r')
																| Sell
												.inline.v-middle
													.input-group
														input#numShares.form-control(type='text')
														input#htName.hidden.form-control(type='text',value=search.q)
														input#htCount.hidden.form-control(type='text',value=search.count)
														input#htOrigPrice.hidden.form-control(type='text',value=search.price)
														input#htTotalShares.hidden.form-control(type='text',value=search.totalLifetime)
														span.input-group-btn
														button#go.btn.btn-info(type='button') Go!	
														span(style="color: #aaa; margin-left: 10px;") @ $
															span#newPrice= search.price.toFixed(2)
															span  / share

				aside.b-l.aside-xl.bg-light
					header.bg-light
						ul.nav.nav-tabs
							li.active
								a(href='#feed', data-toggle='tab') Feed
					.tab-content
						#tab1.tab-pane.active							
							section.vbox(style="height: 371px;")
									section.scrollable
										ul.list-group.no-radius.m-b-none.m-t-n-xxs.list-group-lg.no-border
											for tweet in feed.statuses
												li.list-group-item
													a.thumb-sm.pull-left.m-r-sm(href='#')
														img.img-circle(src=tweet.user.profile_image_url)
													a.clear(href='#')
														small.pull-right= moment(tweet.created_at).fromNow()
														strong.block= tweet.user.name
														small= tweet.text											

	script
		$(function(){

			var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
			var d1 = [];
			for (var i = 0; i <= 11; i += 1) {
				d1.push(["A" + i, parseInt((Math.floor(Math.random() * (1 + 20 - 10))) + 10)]);
			}
			console.log(d1);
			d1 = !{JSON.stringify(search.trend)};
			var plot = $.plot($("#flot-color"), [{
					data: d1
				}], 
				{
					series: {
						lines: {
							show: true,
							lineWidth: 2,
							fill: true,
							fillColor: {
								colors: [{
									opacity: 0.0
								}, {
									opacity: 0.2
								}]
							}
						},
						points: {
							radius: 5,
							show: true
						},
						shadowSize: 2
					},
					grid: {
						color: "#fff",
						hoverable: true,
						clickable: true,
						tickColor: "#f0f0f0",
						borderWidth: 0
					},
					colors: ["#5dcff3"],
					xaxis: {
						mode: "categories",
						tickDecimals: 0
					},
					yaxis: {
						ticks: 5,
						tickDecimals: 0,
					},
					tooltip: true,
					tooltipOpts: {
					content: "%y.4",
					defaultTheme: false,
					shifts: {
						x: 0,
						y: 20
					}
					}
				}
			);

			$('#numShares').bind('input', function(){ 					
				var count = parseFloat($('#htCount').val());				
				var totalPurchased = parseFloat($('#htTotalShares').val());
				var shares = parseFloat($('#numShares').val());
				var origPrice = parseFloat($('#htOrigPrice').val());
				
				console.log("C:" + count);
				console.log("tp:" + totalPurchased);
				console.log("shares:" + shares);
				var method = $('#selectBox .active').data('method');
				if(method == 'buy') {
					var newPrice = (count * (2 + (((2*totalPurchased) + shares) * .001))) / 200;
				} else {
					var newPrice = (count * (2 + (((2*totalPurchased) - shares) * .001))) / 200;
				}

				if(shares == "") {
					$('#newPrice').html(parseFloat(origPrice).toFixed(2));
				} else if(isNaN(parseFloat(shares))) {
					$('#newPrice').html(parseFloat(origPrice).toFixed(2));
				} else{

					$('#newPrice').html(parseFloat(newPrice).toFixed(2));	
				}
				
			})

			$('#go').click(function(){					
				var name = $('#htName').val();
				var shares = $('#numShares').val();
				if(shares == 0) return;
				var method = $('#selectBox .active').data('method');
				console.log("/" + method + "/" + name + '?shares=' + shares);
				$.get( "/" + method + "/" + name + '?shares=' + shares, function( data ) {				
					location.reload();
				});
			});

		});